@media (max-width: 995px){
  

    nav{
        display: block;
    }

    label{
        display: block;
    }

    .bars3{
        display: flex;
    }

    .campo{
        display: none;
    }

    body header .cabecalho-fora .logo img{
        width:250px;
    }

    .letras{
        display: none;
    }
}

@media (max-width: 1401px){
    .botao{
        display: none;
    }

    .botao1{
        display: block;
    }
}

@media(max-height:760px){
    .footer{
        display: none;
    }
}
